@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap");

.App{
    display: flex;
    background-image: url("../public/bgImage.jpg");
 /* background-size: 100% 100%;
  */
  background-size: cover;
  background-position: center;
     height: 100vh;
}  